{% extends 'core/base.html' %}
{% load static %}
{% block title %}TICKETS{% endblock title %}
{% block content %}



<div class="container">
    <div class="row">
        
        

            
        <div class="col-md-6">
            <h1>Elementos Agregados</h1>
            <table id="elementos-tabla" class="col-12">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>



        <div class="col-md-6">
            <h1>Agregar Elemento</h1>
            <form id="agregar-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" id="agregar" class="btn btn-primary col-12">Agregar</button>

            </form>
            <br>
            <button id="agregar-todos" class="btn btn-primary col-12">Cerrar ticket</button>
        </div>
    </div>


    <div class="row">
        <div class='col-md-12'>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
    </div></div>

</div>

<script>

    const successMessage = localStorage.getItem('successMessage');

    // Mostrar el mensaje de éxito si está presente
    if (successMessage) {
        const alertDiv = document.createElement('div');
        alertDiv.className = 'alert alert-success alert-dismissible fade show';
        alertDiv.role = 'alert';
        alertDiv.innerHTML = `
            ${successMessage}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        `;
        document.querySelector('.container').prepend(alertDiv);

        // Limpiar el mensaje de éxito guardado en el almacenamiento local
        localStorage.removeItem('successMessage');
    }


    const items = []; // Objeto JavaScript para almacenar los elementos

    document.getElementById('agregar-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const selectElement = document.querySelector('#id_product');
        const product = selectElement.value;
        const nombre_producto = selectElement.options[selectElement.selectedIndex].textContent;
        const quantity = document.querySelector('#id_quantity').value;

        fetch(`/product/get-price/${product}/`)
            .then(response => response.json())
            .then(data => {
                const price = data.price;
                items.push({ product, quantity, price });
                updateTabla(nombre_producto);
            });
    });

    function updateTabla(name) {
        const tablaBody = document.querySelector('#elementos-tabla tbody');
        tablaBody.innerHTML = '';
        items.forEach(item => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${name}</td>
                <td>${item.quantity}</td>
                <td>${item.price}</td>
                <td>${(item.quantity * item.price)}</td>
            `;
            tablaBody.appendChild(row);
        });
    }

    document.getElementById('agregar-todos').addEventListener('click', function () {
        // Obtener el ID del usuario logeado
        const userId = {{ request.user.id }};
        
        // Crear el Ticket y obtener el ticket_id
        fetch('/tickets/get-ticket-id/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ user_id: userId })
        }).then(response => response.json()).then(data => {
            const ticketId = data.ticket_id;
    
            // Agregar ticket_id a cada elemento
            items.forEach(item => {
                item.ticket_id = ticketId;
            });
    
            // Ahora enviar la lista de elementos a la vista create_ticket
            fetch('/tickets/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ items: items })
            }).then(() => {
                // Redireccionar a la página de creación de ticket
                localStorage.setItem('successMessage', 'Productos agregados exitosamente');
                window.location.href = '{{ success_url }}';
            });
        });
    });
    
    
</script>

{% endblock content %}



